<?xml version="1.0"?>
<!--
/**

 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="BuyRite_Faq::faqs" title="FAQs">
                    <resource id="BuyRite_Faq::faq" title="FAQs Manager">
                        <resource id="BuyRite_Faq::faq_create" title="Create"/>
                        <resource id="BuyRite_Faq::faq_edit" title="Edit" />
                        <resource id="BuyRite_Faq::faq_delete" title="Delete"/>
                    </resource>
                    <resource id="BuyRite_Faq::category" title="Categories Manager">
                        <resource id="BuyRite_Faq::category_create" title="Create"/>
                        <resource id="BuyRite_Faq::category_edit" title="Edit" />
                        <resource id="BuyRite_Faq::category_delete" title="Delete"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
